<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light teal lighten-5 mb-5">

  <!-- Navbar brand -->
  <span class="navbar-brand" href="/">DigLib</span>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Library
        </a>
      </li>
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/book/add">Add Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">SignUp</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <!-- Links -->

    <form class="form-inline" action='/search' method='GET'>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" name="q" type="text" aria-label="Search">
      </div>
      <button class="btn btn-mdb btn-sm" type="submit">SEARCH</button>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->