{% extends 'layouts/base.html' %}

{% block content %}

    <h1>{{ author.name }}</h1>

    {% for book in author.books %}
        
        <!-- Card -->
        <div class="card mb-4">

        <!-- Card image 
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap"> -->

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>{{ book.name }}</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <h5>Authors:</h5>
            <div class="btn-group mb-3" role="group" aria-label="Basic example">
                {% for author in book.authors %}
                        <a href="/author/{{ author.id }}" class="btn btn-mdb btn-sm text-dark">{{ author.name }} <span class="badge badge-dark ml-2">{{ author.books | length}}</span></a>
                {% endfor %}
            </div>
            <br>
            <!-- Button -->
            <a href="/book/detail/{{ book.id }}" class="btn btn-primary m-0 teal lighten-4 text-dark">Read more</a>

        </div>

        </div>
        
        <!-- Card -->
        {% endfor %}

{% endblock %}