{% extends 'layouts/base.html' %}

{% block content %}

<form action="/book/edit/{{ context.book.id }}" method="post">
        <div class="md-form">
            {{ context.form.book_name(class_="form-control", value=context.book.name ) }}
            {{ context.form.book_name.label }}
        </div>
        <div class="md-form">
            {{ context.form.author_name(class_="form-control", value=context.authors ) }}
            {{ context.form.author_name.label }}
        </div>
        <div class="md-form">
            <textarea class="md-textarea form-control" name="book_description" cols="30" rows="5">{{ context.book.description }}</textarea>
            <label for="book_description">Book Description</label>
        </div> 
    <button type="submit" class="btn btn-mdb-color">Save Book</button>
</form>

{% endblock content %}