{% extends 'layouts/base.html' %}

{% block content %}

    <h1 class="text-center mb-5">{{ book.name }}</h1>
    <p class="card-text">{{ book.description }}</p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/book/edit/{{ book.id }}" class="btn btn-warning">Edit</a>
        <form class="form-inline" action="/book/delete/{{ book.id }}" method="post">
            <input type="hidden">
            <button href="" class="btn btn-danger">Delete</button>
        </form>
    </div>

    
    

{% endblock content %}