{% extends 'layouts/base.html' %}

{% block content %}

<form action="/book/add" method="post">
    {% for field in form %}
        <div class="md-form">
            {% if field.type == "TextAreaField" %}
                {{ field(class_="md-textarea form-control") }}
            {% else %}
                {{ field(class_="form-control") }} 
            {% endif %}
            {{ field.label }}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-mdb-color">Add Book</button>
</form>

{% endblock content %}