{% extends 'layouts/base.html' %}

{% block content %}

    <h1 class="display-3 mb-5">Digital Library</h1>

    {% for author in authors %}

        <div class="mb-5">
        <h2 class="mb-3">{{ author.name }}</h2>

        {% for row in author.books | batch(2) %}
        <div class="card-deck">
        {% for book in row %}
        
        <!-- Card -->
        <div class="card mb-4">

        <!-- Card image 
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap"> -->

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>{{ book.name }}</a></h4>
            <!-- Text -->
            <p class="card-text">{{ book.description | truncate(200) }}</p>
            <h5>Authors:</h5>
            <div class="btn-group mb-3" role="group" aria-label="Basic example">
                {% for author in book.authors %}
                        <a href="/author/{{ author.id }}" class="btn btn-mdb btn-sm text-dark">{{ author.name }} <span class="badge badge-dark ml-2">{{ author.books | length}}</span></a>
                {% endfor %}
            </div>
            <br>
            <!-- Button -->
            <a href="/book/detail/{{ book.id }}" class="btn btn-primary m-0 teal lighten-4 text-dark">Read more</a>

        </div>

        </div>
        
        <!-- Card -->
        {% endfor %}
        </div>
        {% endfor %}
        </div>
    {% endfor %}

{% endblock content %}