{% extends 'layouts/base.html' %}

{% block title %}
 {{ block.super() }} | SignUp
{% endblock %}

{% block content %}

<h1 class="text-center">SignUp</h1>

<form action="/signup" method="post">
    <div class="md-form">
        {% for field in form %}
            <div class="md-form">
                {{ field(class_="form-control") }}
                {{ field.label }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-mdb-color">Submit</button>
    </div>
</form>

{% endblock %}